.radiobutton {
  display: inline-flex;
  align-items: center;
  margin-right: 1rem;
  cursor: pointer;
}

.radiobutton .radiobutton__content {
  height: 24px;
  width: 24px;
  margin-left: -9px;
  padding: 9px;
}

.radiobutton .radiobutton__content input {
  display: none;
}

.radiobutton .checked,
.radiobutton .unchecked {
  display: none;
}

.radiobutton input[type='radio'] + .radiobutton__controls .unchecked {
  display: block;
}

.radiobutton input[type='radio']:checked + .radiobutton__controls .unchecked {
  display: none;
}
.radiobutton input[type='radio']:checked + .radiobutton__controls .checked {
  display: block;
}

.radiobutton .radiobutton__label {
  line-height: 24px;
  display: flex;
  align-items: center;
}
