.item-element {
  background-color: #ffffff;
  border: 1px solid #e5e6e6;
  border-left: 4px solid rgb(0, 150, 136);
  padding: 12px;
  margin-inline: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #e5e6e6;
  display: flex;
  flex-direction: column;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.item-element h2 {
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.item-element h2 .item-element__header-title {
  display: flex;
  align-items: flex-start;
}
.item-element h2 .item-element__header-image {
  display: inline-flex;
  height: 32px;
  width: 32px;
  min-width: 32px;
  box-sizing: border-box;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 700;
  margin-right: 8px;
  background-color: rgb(0, 150, 136);
  color: #fff;
}
.item-element h2 .item-element__header-text {
  display: flex;
  flex-direction: column;
}
.item-element h2 .item-element__header-text .title {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.item-element h2 .item-element__header-text .date {
  font-size: 10px;
  color: #80cbc4;
  display: flex;
  align-items: center;
}

.item-element h2, .item-element p {
  margin: 0;
  transition: .3s;
}
.item-element p {
  margin-top: .5rem;
  font-size: 1rem;
  line-height: 22px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.item-element.item-element--completed {
  border-left: 4px solid #03CEA4;
}
.item-element.item-element--completed h2, .item-element.item-element--completed p, .item-element.item-element--completed h4 {
  text-decoration: line-through;
  color: #a8a9aa;
}
.item-element .item-element__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.item-element .item-element__actions__buttons {
  display: flex;
  justify-content: flex-start;
}
.item-element .item-element__actions__price {
  text-align: center;
}


.item-element .btn {
  height: 38px;
  min-width: 42px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 12px 12px;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #00897b;
  color: #e0f2f1;
  border-bottom: 5px solid #00695c;
  margin-right: 12px;

  cursor: pointer;
  transition: .3s;
}
.item-element .btn:disabled {
  opacity: .4;
  cursor: not-allowed;
}
.item-element .btn svg {
  margin-right: .250rem;
}

@media (prefers-color-scheme: dark) {
  .item-element {
    background-color: rgb(20, 37, 47);
    border: 1px solid rgb(20, 37, 47);
    border-left: 4px solid rgb(0, 150, 136);
  }
  .item-element .btn {
    background-color: #00897b;
    color: #e0f2f1;
  }

  .item-element p {
    color: rgb(213, 217, 233);
  }
}
